@import "tailwindcss";


@keyframes move {
  0%{
    opacity: 0;
    transform: scale(2) translateY(100px);
  }
  100%{
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
.button{
  animation: move forwards linear 2s  ;
}

@keyframes entry {
  0%{
    opacity: 0;
    transform: scale(2);
  }100%{
    opacity: 1;
    transform: scale(1);
  }
}
.movie{
  animation: entry linear forwards 2s ;
}
.movie1{
  animation: entry linear forwards 2s ;
}